body {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: hsl(240, 78%, 98%);
    min-height: 100vh;
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
  }
  
  p {
    color: hsl(234, 14%, 74%);
  }
  
  h3 {
    font-size: 40px;
    margin: 10px;
    color: black;
  }
  
  span {
    font-size: 30px;
    margin-right: 10px;
  }
  
  button {
    padding: 08px 30px;
    border-radius: 5px;
    color: hsl(232, 13%, 33%);
    border: 1px solid hsl(235, 18%, 72%);
    background-color: white;
    transition: 0s background-color;
    -webkit-transition: 0.3s all;
  }
  
  button:hover {
    background-color: hsl(236, 72%, 79%);
    transition-delay: 0.2s;
    -webkit-transition-delay: 0s;
    transform: scale(1.2);
  
    color: white;
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .header > h2 {
    color: hsl(233, 13%, 49%);
  }
  
  .price-col {
    background-color: white;
    margin: 05px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 08px 30px;
    margin-bottom: 10px;
  }
  
  .list {
    border-top: 1px solid hsl(234, 14%, 74%);
    list-style: none;
    padding: 0;
  }
  
  .list > li {
    color: hsl(234, 14%, 74%);
    padding: 15px 15px;
    font-size: 14px;
    border-bottom: 1px solid hsl(234, 14%, 74%);
  }
  
  .price-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 2;
  }
  
  #block {
    background: linear-gradient(
      270deg,
      hsl(237, 63%, 64%),
      60%,
      hsl(237, 63%, 80%)
    );
    transform: scale(1.1);
  }
  
  #block > h3 {
    color: white;
  }
  
  #block > p {
    color: white;
  }
  
  #block ul li {
    color: white;
    border-color: white;
  }
  
  #block ul {
    border-color: white;
  }
  
  #block button {
    background-color: hsl(236, 72%, 79%);
    color: white;
    border-color: white;
    margin-bottom: 10px;
  }
  
  #block button:hover {
    background-color: white;
    box-shadow: 5px 5px 20px 0px hsl(234, 14%, 74%);
    color: hsl(236, 72%, 79%);
  }
  
  @media (max-width: 375px) {
    .price-row {
      flex-direction: column;
      margin: 20px;
    }
  
    .price-col {
      margin: 20px;
    }
  
    button {
      margin-bottom: 10px;
    }
  }
  
  .toggle-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .toggle-bar > p {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .toggle {
    cursor: pointer;
    background-color: hsl(237, 63%, 64%);
    width: 60px;
    height: 32px;
    margin-top: 12px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .toggle-active {
    background-color: blue;
    width: 60px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  input {
    display: none;
  }
  
  .slider {
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 12px;
    margin: 4px;
  }
  
  input:checked + .toggle {
    background-color: hsl(237, 63%, 64%);
  }
  
  input:checked + .toggle > .slider {
    align-self: flex-end;
  }
  